* {
  padding: 0;
  margin: 0;
}

:root {
  --circle-width: 20px;
  --circle-offset: 20px;
  --legend-gap: 40px;
}

.counter__block {
  text-align: center;
}

.counterTotal {
  font-size: 2em;
  font-weight: 700;
  color: #007cbd;
}
.activeUser {
  font-size: 1.25em;
  text-transform: uppercase;
}
.lastFiveMins {
  font-size: 0.625em;
  text-transform: uppercase;
}

.legend {
  display: flex;
  margin-left: calc(var(--circle-width) + var(--circle-offset)); /* width + offset of a circle */
  gap: var(--legend-gap);
  justify-content: center;
  font-size: 0.8em;
  text-transform: uppercase;

  position: relative;
}
.legend__item {
  text-align: center;
  position: relative;
}
.circle {
  position: absolute;
  left: calc(-1 * var(--circle-offset));
  width: var(--circle-width);
  height: var(--circle-width);
  background-color: #666;
  border-radius: 100vh;
}

.legend__percentage {
  font-size: 1.8em;
  font-weight: 700;
  color: #007cbd;
  padding: 0.313em;
  text-align: left;
  position: relative;
  left: calc(-0.5 * var(--circle-offset));
}

.legend__text {
  font-size: 1.125em;
  text-align: left;
  padding-left: 0.5em;
}

#circle__animal {
  background: #e74c3c;
}

#circle__delivery {
  background: #2ecc71;
}

#circle__incident {
  background: #f1c40f;
}
