#profile {
    height: 90%;
    max-height: 90%;
}

#profile-name {
    padding: 20px;
}

.profile-header {
    max-height: 75px;
    margin-right: 20px;
    margin-top: 5px;
}

.list {
    list-style-type: none;
    border-bottom: 1px solid #6462FF;
    margin-top: 1em;
    padding-bottom: 1em;
}
.list > li > *
{
    margin-right: 2em;
}

.profile-header h1 {
    float: left;

}
.profile-header img {
    float: right;
    max-height: 75px;
}

.information-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10;
}

.chart-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.content__chart {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.current-intervention {
    background-color: #F5F7F8;
}
.statistics {
    background-color: #F5F7F8;
}

.intervention {
    background-color: #F5F7F8;
    margin-top: 2em;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.personal_data {
    background-color: #6563FF;
    flex-grow: 1;
}
.personal_data > h2, .personal_data > p {
    color: #F5F7F8;
}